@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-nice: "Pixelify Sans";
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
    cursor: pointer;
    }
}
